<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>push</title>
    <script type="text/javascript">
        window.onload = function() {
            getEndpoint()
        }

        function getEndpoint() {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/api/push/endpoint/list/");
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4) {
                    var resp = JSON.parse(xhr.responseText);
                    var pos = document.getElementById("pushList");
                    pos.innerHTML = "<tr> <th> Name </th> <th> Type </th> <th> Url </th> <th> Token </th> </tr>";
                    for (push in resp) {
                        pos.innerHTML += "<tr>";
                        for (id in push) {
                            pos.innerHTML += "<th> " + push[id] + " < /th>";
                        }
                        pos.innerHTML += "</tr>";
                    }
                }
            }
            xhr.send(null);
        }

        function addEndpoint() {
            var form = new FormData(document.getElementById("formEndpoint"));
            var data = {
                "name": form.get("name"),
                "type": form.get("type"),
                "url": form.get("url"),
                "token": form.get("token"),
            };
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/api/push/endpoint/add/");
            xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
            xhr.send(JSON.stringify(data));
            getEndpoint();
        }
    </script>
</head>

<body>
    <h1>Push data</h1>
    <table id="pushList" />
    <h3>Add new push data</h3>
    <form id="formEndpoint">
        Name: <input type="text" name="name"><br> Type: <input type="text" name="type"><br> Url: <input type="text" name="url"> <br> Token: <input type="password" name="token">
        <input type="submit" value="addEndpoint" onclick="addEndpoint()">
    </form>
</body>

</html>