##############################
# Basic auth info for AwPush #
##############################

[awpush]
token = "<TOKEN-FOR-AwPush>"
uid = "<UID-FOR-TOKEN>"
wss = "wss://andywang.top:3001/ws"

#######################
# Blacklist of anchor #
#######################

[awpush.filter]
rooms = [123]
words = ["测试", "钓鱼"]

####################
# User Information #
####################

[[awpush.users]]
cookie = "TEST=asdfghjkl;" 
# Fill in this according to `name` in push.toml
push = "PUSH_DEER_SAMPLE"

# Add more users below
#
# [[awpush.users]]
# cookie = ""
# push = "PUSH_PLUS_SAMPLE"
